@using Spendnt.Shared.DTOs.Ingreso
@using Spendnt.Shared.DTOs.Categoria
@using System.ComponentModel.DataAnnotations

<EditForm Model="Ingreso" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@

    <div class="mb-3">
        <label class="form-label">Monto del Ingreso</label>
        <div>
            <InputNumber class="form-control" @bind-Value="Ingreso.Monto" />
            <ValidationMessage For="@(() => Ingreso.Monto)" />
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha</label>
        <div>
            <InputDate class="form-control" @bind-Value="Ingreso.Fecha" />
            <ValidationMessage For="@(() => Ingreso.Fecha)" />
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Categoría</label>
        <div>
            @if (Categorias == null || !Categorias.Any())
            {
                <p><em>Cargando categorías...</em></p>
            }
            else
            {
                <InputSelect class="form-control" @bind-Value="Ingreso.CategoriaId">
                    <option value="0">-- Seleccione una categoría --</option>
                    @foreach (var categoria in Categorias)
                    {
                        <option value="@categoria.Id">@categoria.Nombre</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Ingreso.CategoriaId)" />
            }
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" type="button" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
#nullable enable
    [EditorRequired]
    [Parameter]
    public IngresoUpdateDto Ingreso { get; set; } = new();

    [Parameter]
    public List<CategoriaDto>? Categorias { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback<EditContext> OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    protected override void OnParametersSet()
    {
        if (Ingreso.Fecha == DateTime.MinValue)
        {
            Ingreso.Fecha = DateTime.Today;
        }
    }
}